/* Base */
@import url("base/reset.css");
@import url("base/variables.css");
@import url("base/global.css");

/* Layout */
@import url("layout/main-layout.css");
@import url("layout/header.css");
@import url("layout/footer.css");

:root {
  --bs-body-bg: var(--bg-primary);
  --bs-body-color: var(--text-primary);

  --bs-primary: var(--accent-color);
  --bs-secondary: var(--bg-secondary);
  --bs-success: var(--success);
  --bs-danger: var(--danger);
  --bs-warning: var(--warning);
  --bs-info: #17a2b8;

  --bs-border-radius: var(--border-radius);
}

html.dark-mode {
  --bs-body-bg: var(--bg-primary);
  --bs-body-color: var(--text-primary);
  --bs-primary: var(--accent-color);
}
