/* Base */
@import url("variables.css");

:root {
  --bs-body-bg: var(--bg-primary);
  --bs-body-color: var(--text-primary);
  --bs-primary: var(--accent-color);
  --bs-secondary: var(--bg-secondary);
  --bs-success: var(--success);
  --bs-danger: var(--danger);
  --bs-warning: var(--warning);
}

h1 {
  color: var(--bs-body-color);
}

/* Botões */
.btn-accent {
  background-color: var(--accent-color) !important;
  color: #fff !important;
}
.btn-accent:hover {
  background-color: var(--accent-color-hover) !important;
}

.btn-primary {
  background-color: var(--accent-color) !important;
  border: var(--accent-color) !important;
  color: var(--text-primary) !important;
}

.btn-secondary {
  background-color: var(--bg-secondary) !important;
  border: var(--accent-color) !important;
  color: var(--text-primary) !important;
}

/* Texto */
.text-accent {
  color: var(--accent-color) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

/* Fundo */
.bg-primary {
  background-color: var(--bg-primary) !important;
}
.bg-secondary {
  background-color: var(--bg-secondary) !important;
}
.bg-card {
  background-color: var(--card-bg) !important;
}

/* Alertas */
.alert-success {
  background-color: var(--success) !important;
  color: #fff;
}
.alert-danger {
  background-color: var(--danger) !important;
  color: #fff;
}
.alert-warning {
  background-color: var(--warning) !important;
  color: #000;
}
